
#tab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  

  
  
  #tab1.nav-pills > li > a {
    border-radius: 0;
  }
  

  

  

  
  
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/